body {
  font-family: Arial;
  text-align: center;
  background-color: #f4f4f4;
}

.container {
  margin-top: 50px;
}

input {
  padding: 8px;
  margin-right: 10px;
  width: 200px;
}

button {
  padding: 6px 10px;
  cursor: pointer;
}

.todo {
  margin-top: 10px;
}